<nav class="navbar navbar-expand-lg fixed-top">
  <div class="container">

    <a class="navbar-brand text-white d-flex align-items-center gap-2" href="/index.html">
      <img src="/logoshdc.png" width="40" class="rounded-circle">
      <span>SHDC STUDY HUB</span>
    </a>

    <button class="navbar-toggler bg-white" data-bs-toggle="collapse" data-bs-target="#nav">☰</button>

    <div class="collapse navbar-collapse" id="nav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item"><a class="nav-link" href="/index.html">Home</a></li>
        <li class="nav-item"><a class="nav-link" href="../Syllabus/syllabus.html">Syllabus</a></li>
        <li class="nav-item"><a class="nav-link" href="../Notes/notes.html">Notes</a></li>
        <li class="nav-item"><a class="nav-link" href="../QuestionPapers/papers.html">Papers</a></li>
      </ul>
    </div>

  </div>
</nav>